/***** Square Component *****/
.square {
  background: white;
  border: 1px solid gray;
  float: left;
  margin-right: -1px; /* --<> we do that to remove additional margin from border*/
  margin-top: -1px;
  padding: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
}

.square:focus {
  outline: none;
}

/***** Board Component *****/
.board-row::after {
  clear: both; /* --<> we need to set next box on a new line */
  content: "";
  display: table;
}
