* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/***** Body *****/
body {
  background-color: rgb(26, 26, 26);
}

/***** Square Component *****/
.square {
  background: white;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  line-height: 80px;
  height: 80px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: rgb(112, 108, 91);
  margin: 10px;
  border: 1px solid rgb(158, 148, 95);
  background-image: linear-gradient(
    bottom,
    rgb(112, 108, 91) 0%,
    rgb(158, 148, 95) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(112, 108, 91) 0%,
    rgb(158, 148, 95) 100%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(112, 108, 91) 0%,
    rgb(158, 148, 95) 100%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(112, 108, 91) 0%,
    rgb(158, 148, 95) 100%
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgb(112, 108, 91) 0%,
    rgb(158, 148, 95) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(112, 108, 91)),
    color-stop(1, rgb(158, 148, 95))
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 0px rgb(64, 63, 56),
    0px 3px 15px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 6px 0px rgb(64, 63, 56), 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 0px rgb(64, 63, 56), 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}
.square:active {
  background-image: linear-gradient(
    bottom,
    rgb(112, 108, 91) 0%,
    rgb(158, 148, 95) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(112, 108, 91) 0%,
    rgb(158, 148, 95) 100%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(112, 108, 91) 0%,
    rgb(158, 148, 95) 100%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(112, 108, 91) 0%,
    rgb(158, 148, 95) 100%
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgb(112, 108, 91) 0%,
    rgb(158, 148, 95) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(112, 108, 91)),
    color-stop(1, rgb(158, 148, 95))
  );
}

/***** Board Component *****/
.board-row::after {
  clear: both; /* --<> we need to set next box on a new line */
  content: "";
  display: table;
}

/***** Game Component *****/
.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

/***** Game Info Component *****/
ol,
ul {
  padding-left: 30px;
  color: #fff;
}

.game-info {
  margin-left: 20px;
  color: #fff;
}

.status {
  margin-bottom: 10px;
}

/***** Nabar Component *****/
.NavbarItems {
  background: linear-gradient(90deg, rgb(112, 108, 91) 0%, rgb(158, 148, 95));
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw; /*View width*/
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: rgb(112, 108, 91);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
